<br>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-target="#Courses" aria-controls="home" role="tab" data-toggle="tab">Courses</a>
        </li>
        <li role="presentation">
            <a data-target="#addCourse" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-plus" aria-hidden="true"></i> New Course</a>
        </li> 
    </ul>
    
    <!--Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Courses">
            <br>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shr1BHTw6CPyCUWdp?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="addCourse">
            <br>
            <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shrnWTm8RPVOO1Lvu?backgroundColor=green" frameborder="0" onmousewheel="" width="100%" height="1278" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
    </div>
</div>