<br>
<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a data-target="#Rounds" aria-controls="home" role="tab" data-toggle="tab">Rounds</a>
        </li>
        <li role="presentation">
            <a data-target="#addRound" aria-controls="profile" role="tab" data-toggle="tab">
                <i class="fa fa-plus" aria-hidden="true"></i> New Round</a>
        </li> 
    </ul>
    
    <!--Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="Rounds">
            <br>
            <iframe class="airtable-embed" src="https://airtable.com/embed/shrlfUEblMH9OwAdO?backgroundColor=green&viewControls=on" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="addRound">
            <br>            
            <i>[Use AirTable to add round details]</i>
            <br>
        </div>
    </div>
</div>